

{% extends "base.html" %}
{% block content %}


<h4 class="fw-bold py-3 mb-4">Taluk</h4>


<a href="{% url 'town-form' %}" class="btn btn-primary">
    <span class="tf-icons bx bx-list-plus"></span>&nbsp; Add New
</a>


<div class="card mt-4">
    <div class="table-responsive text-nowrap mt-2">
        <table class="table">
            <thead>
                <tr>
                     <th>Revenue ward no</th>
                    <th>Town Name</th>
                    <th>Taluk</th>
                    <th>District</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for field in obj %}
                    <tr>
                         <td>{{field.revenue_division_no}}</td>
                        <td>{{field.town_name}}</td>
                        <td>{{field.taluk_name}}</td>
                        <td>{{field.district_name}}</td>
                        <td>
                            <a href="{% url 'edit-town-form' field.id %}" class="btn btn-sm btn-primary" ><i class='bx bxs-edit'></i></a>
                            <a href="{% url 'delete-town' field.id %}" class="btn btn-sm btn-danger" ><i class='bx bxs-trash'></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

