<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


      <link
              id="favicon_link"
              rel="icon"
              type="image/x-icon"
              href="{{bundle.favicon_logo.url}}"
      />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/fonts/boxicons.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/css/core.css' %}"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/css/theme-default.css' %}"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}"
    />
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>

      <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">

    <style>
        #example_filter {
            padding-right: 20px;
        }

        #example_length {
            padding-left: 20px;
        }

        #example_info {
            padding-left: 20px;
        }

        .pagination {
            padding-right: 20px;
        }
    </style>


  </head>
  <body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="" class="app-brand-link">
<!--              <span class="app-brand-text demo menu-text fw-bolder ms-2">Prime Meridine</span>-->
             <span id="application_name" class="app-brand-text demo menu-text fw-bolder">{{ bundle.application_name}}</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

            <ul class="menu-inner py-1">

                <li class="menu-item" id="menu-home">
                    <a href="{% url 'list-of-values' %}" class="menu-link">
                        <i class='menu-icon tf-icons bx bxs-home'></i>
                        <div data-i18n="usermaster">Home</div>
                    </a>
                </li>

                <li class="menu-item" id="menu-settings">
                    <a href="{% url 'settings_screen' %}" class="menu-link">
                        <i class='menu-icon tf-icons bx bx-cog me-2'></i>
                        <div data-i18n="usermaster">Settings</div>
                    </a>
                </li>

            </ul>


        </aside>
       <div class="layout-page">
            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                 id="layout-navbar">
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="bx bx-menu bx-sm"></i>
                    </a>
                </div>
                <button class="btn btn-icon btn-outline-dark" onClick="javascript:history.go(-1);">
                    <i class='bx bx-arrow-back'></i>
                </button>
                <ul class="navbar-nav flex-row align-items-center ms-auto">
                    <!-- User -->
                    <li class="nav-item navbar-dropdown dropdown-user dropdown">
                        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                           data-bs-toggle="dropdown">
                            <div class="avatar avatar-online">
                                <img src="{% static '/assets/img/avatars/user.png' %}" alt
                                     class="w-px-40 h-auto rounded-circle"/>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
<!--                            <li>-->
<!--                                <a class="dropdown-item" href="#">-->
<!--                                    <div class="d-flex">-->
<!--                                        <div class="flex-shrink-0 me-3">-->
<!--                                            <div class="avatar avatar-online">-->
<!--                                                <img src="{% static '/assets/img/avatars/user.png' %}" alt-->
<!--                                                     class="w-px-40 h-auto rounded-circle"/>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="flex-grow-1">-->
<!--                                    <span class="fw-semibold d-block">-->
<!--                                               </span>-->
<!--                                    <small class="text-muted"></small>-->
<!--                                </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="dropdown-divider"></div>-->
<!--                            </li>-->

                            <li>
                                <a class="dropdown-item" href="{% url 'settings_screen' %}">
                                              <i class="bx bx-cog me-2"></i>
                                              <span class="align-middle">Configuration</span>
                                            </a>
                            </li>

                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'user_login' %}">
                                    <i class="bx bx-power-off me-2"></i>
                                    <span class="align-middle">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>


            </nav>
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">

                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000"
                                     class="bs-toast toast toast-placement-ex m-2 bg-danger top-0 end-0 fade show">
                                    <div class="toast-header">
                                        <i class='bx bxs-error-alt'></i>&nbsp;
                                        <div class="me-auto fw-semibold">Error</div>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body" style="white-space: pre-line">{{ message }}</div>
                                </div>
                            {% elif message.tags == "success" %}
                                <div role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000"
                                     class="bs-toast toast toast-placement-ex m-2 bg-success top-0 end-0 fade show">
                                    <div class="toast-header">
                                        <i class='bx bx-list-check'></i>&nbsp;
                                        <div class="me-auto fw-semibold">Success</div>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body" style="white-space: pre-line">{{ message }}</div>
                                </div>

                            {% elif message.tags == "warning" %}
                                <div role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000"
                                     class="bs-toast toast toast-placement-ex m-2 bg-warning top-0 end-0 fade show">
                                    <div class="toast-header">
                                        <i class='bx bx-list-check'></i>&nbsp;
                                        <div class="me-auto fw-semibold">Import Error</div>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body" style="white-space: pre-line">{{ message }}</div>
                                </div>
                            {% endif %}

                        {% endfor %}
                    {% endif %}

                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>



    <div class="modal fade" id="modalToggle" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalToggleLabel">{{ username }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                     <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Current Password</label>
                            </div>
                            <div class="input-group input-group-merge">
                                <input
                                        type="password"
                                        id="password"
                                        class="form-control"
                                        name="password"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password"
                                />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                    <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">New Password</label>
                            </div>
                            <div class="input-group input-group-merge">
                                <input
                                        type="password"
                                        id="new_password"
                                        class="form-control"
                                        name="new_password"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password"
                                />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                    <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Confirm Password</label>
                            </div>
                            <div class="input-group input-group-merge">
                                <input
                                        type="password"
                                        id="confirm_password"
                                        class="form-control"
                                        name="confirm_password"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password"
                                />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
                </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let currentMenu = document.getElementById("{{ menu }}");
        if (currentMenu) {
            currentMenu.classList.add("active");
            let parentMenu = currentMenu.closest('.menu-sub');
            if (parentMenu) {
                let parentMenuItem = parentMenu.closest('.menu-item');
                if (parentMenuItem) {
                    parentMenuItem.classList.add("open");
                    // Add the active class to the parent menu as well
                    parentMenuItem.classList.add("active");
                }
            }
        }
    });
</script>


        <script>
  function getBundleSettings() {
    $.ajax({
      url: "{% url 'get_settings_ajax' %}",
      dataType: "json",
      success: function(data) {
          let newTitle = data.favicon_caption
           $("#favicon_link").attr("href", data.favicon_logo);
          document.title = newTitle;
          $('#application_name').text(data.application_name);

        console.log(data);
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.error("Error:", textStatus, errorThrown);
      }
    });
  }

  document.addEventListener('DOMContentLoaded', function () {
      getBundleSettings();
  });
</script>


    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>
    <script src="{% static 'assets/js/ui-toasts.js' %}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

     <script src=" https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

        <script>
            new DataTable('#example');
        </script>



  </body>
</html>
