{% extends 'base.html' %}

{% block content %}

<h4 class="fw-bold py-3 mb-2">User Master</h4>
    
<a href="{% url 'create_user_master' %}" class="btn btn-primary">
    <span class="tf-icons bx bx-list-plus"></span>&nbsp; Add New
</a>


<div class="card mt-4">
    <div class="table-responsive text-nowrap mt-3">
        <table class="table py-3" id="example">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User Type</th>
                    <th>Email</th>
<!--                    <th>Reporting To</th>-->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for obj in response_json %}
                    <tr>
                        <td>{{obj.username}}</td>
                        <td>{{obj.first_name}}</td>
                        <td>{{obj.last_name}}</td>
                        <td>{{obj.user_type}}</td>
                        <td>{{obj.email}}</td>
<!--                        <td>{{obj.reporting_to}}</td>-->
                        <td>
                            <a class="btn btn-icon btn-sm btn-primary" href="{% url 'update_user_master' obj.psk_id %}">
                                <i class="bx bxs-edit"></i>
                            </a>
                             <a class="btn btn-icon btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#modalToggle{{ obj.psk_id }}">
                                <i class="bx bxs-trash"></i>
                            </a>
                        </td>


                         <div class="modal fade" id="modalToggle{{obj.psk_id}}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalToggleLabel">Delete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                       Do you want to delete the user?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                            No
                                        </button>
                                        <a href="{% url 'delete_user_master' obj.psk_id %}" class="btn btn-danger">Yes</a>
                                    </div>
                                </div>
                            </div>


                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock content %}