{% extends 'base.html' %}

{% block content %}




<h4>Street Form</h4>
<div class="card mb-4">
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      <div class="row">
        {% for field in form %}
        <div class="mb-3 col-md-6">
          <label class="form-label">{{field.label}}</label>
          {{field}}
        </div>
        {% endfor %}
      </div>


      <input type="submit" class="btn btn-primary" value="Submit">

    </form>
  </div>
</div>



{% endblock content %}